<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <div class="body-overlay">
        <!-- ========== HEADER ==========  -->
        <%- include('./partials/header.ejs') %>
        <!-- ========== MAIN ==========  -->
        <main class="show-main">
            <form action="/leagues" method="POST">
                <h1>New League Page</h1>
                Name: <input type="text" name="name"><br>
                Description: <input type="text" name="description"><br>
                Founded: <input type="text" name="founded"><br>
                Teams: <input type="text" name="teams"><br>
                <input type="submit" value="Add League">
            </form>
         </main>
    </div>
</body>
</html>