body {
    background-image: url('https://www.shutterstock.com/image-illustration/lights-night-football-stadium-3d-260nw-695541667.jpg');
    background-size: cover;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'helvetica';
}

.body-overlay {
    background: rgba(245, 245, 245, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    padding: 5em;
    overflow: auto;
    box-sizing: border-box;
}

header {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background: white;
    border-radius: 1em;
    text-align: center;
    margin-bottom: 2em;
    /* justify-content: space-between; */
}

main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

header li {
    font-family: 'Montserrat', helvetica;
    font-weight: 700;
    text-transform: uppercase ;
}

/* input[type="text"], input[type="submit"] {
    width: 60%;
    padding: 1em;
    border: 0px;
    border-radius: 0.5em;
}
form strong {
    text-transform: uppercase;
    display: inline-block;
} */

h3 {
    font-family: 'Inconsolata', courier;
}